@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #040316;
  --background: #fbfbfe;
  --primary: #2cb6f2;
  --secondary: #dbdbdb;
  --accent: #fb1c18;
}

body {
  background-color: var(--background);
  color: var(--text);
}

  